[Unit]
Description=ComEd service controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/patrick/comed-service-control/main.py
WorkingDirectory=/home/patrick/comed-service-control
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
